<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styles/cass.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User/Zer0</title>
</head>
<body>
    <!--Nav Bar-->
    <nav>
        <h1>fk4762rwade3ux90i23rmc3</h1>
        <p>[hi]</p>
        <ul>
            <li id="navli"><a href="/cat" title="Explore Cat API?">Cat API</a></li>
            <li id="navli"><a href="/my/Yuan" title="Explore My API?">My API</a></li>
            <li id="navli"><a href="/api" title="Explore My API?">My API Documentation</a></li>
            <li id="navli"><a href="/home/Saturday" title="back to Home?">Home Page</a></li>
        </ul>
    </nav>
    <br>
    <!--Random Content...-->
    <section>
        <h2>lalalala</h2>
        <h3>lalalala</h3>
        <h4>Dandy's</h4>
        <p>Help meaefjoipkeafealp</p>
        <article>
            <p>hi again</p>
        </article>
    </section>
</body>
</html>