<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styles/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <!--Nav Bar-->
    <nav>
        <h1>Home Page</h1>
        <ul>
            <li id="navli"><a href="/cat" title="Explore Cat API?">Cat API</a></li>
            <li id="navli"><a href="/my" title="Explore My API?">My API</a></li>
            <li id="navli"><a href="/api" title="Explore My API?">My API Documentation</a></li>
        </ul>
    </nav>
    <br>
</body>
</html>