<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styles/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My API</title>
</head>
<body>
    <!--Nav Bar-->
    <nav>
        <h1>MY-API</h1>
        <button onclick="location.reload()" style="padding: 10px;">Refresh</button>
        <br>
        <ul>
            <li id="navli"><a href="/home/Saturday" title="Back to Home?">Home Page</a></li>
        </ul>
    </nav>
    <br>
    <!--Art themes VVVV-->
    <section>
        <h1>Art Theme Generator</h1>
        <article>
            <p>Art Theme: {{art_theme.name}}</p>
            <img src="{{art_theme.img_url}}">
        </article>
    </section>
    <br>
    <!--Art palletes VVVV-->
    <section>
        <h1>Art Palette Generator</h1>
        <article>
            <p>{{art_palette}}</p> 
            <ol>
                <li style="background-color: {{art_palette.color1}};">{{art_palette.color1}}</li>
                <li style="background-color: {{art_palette.color2}};">{{art_palette.color2}}</li>
                <li style="background-color: {{art_palette.color3}};">{{art_palette.color3}}</li>
            </ol>
            <p>Have a great day,<br><br>
                {% for character in coloredName %}
                <span style="background-color: {{coloredName[character]}};">{{character}}</span>
                {% endfor %}
                </p>
                <p><span style="background-color: {{art_palette.color1}};"> </span>
                <span style="background-color: {{art_palette.color2}};">{{name}}</span>
                <span style="background-color: {{art_palette.color3}};"> !</span></p>
        </article>
    </section>
</body>
</html>