<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styles/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My...</title>
</head>
<body>
    <!--Nav Bar-->
    <nav>
        <h1>My API</h1>
        <ul>
            <li id="navli"><a href="/home/Saturday" title="back to Home?">Home Page</a></li>
        </ul>
    </nav>
    <br>
    <!--Heads Up-->
    <section>
        <h2>Heads Up!</h2>
        <p>Enter your name into the website URL in order to access My API page.</p>
        <article>
            <h3>Example:</h3>
            <p>http://100.114.3.122:8080/my/your_name</p>
        </article>
    </section>
</body>
</html>